---
title: "Indentation in HTML"
section: true
weight: '1.10' # increase or decrease to change order of sections
options:
- end-with-rule: false # true
- level: 3 # 2, 3, 4, 5
published: true
---
{{#markdown}}
Indent nested elements and tags with single indentation settings, whatever they may be, for each level in the hierarchy of the document.
{{/markdown}}
{{#code "html"}}
<div>
    <p>Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    <ul>
        <li>tempor incididunt ut labore. et dolore magna aliqua.</li>
        <li>quis nostrud exercitation ullamco.</li>
        <li>cillum dolore eu fugiat nulla pariatur.</li>
        <li>proident, sunt in culpa qui officia.</li>
    </ul>
</div>
{{/code}}
