---
title: "HTML5 Elements"
section: true
weight: '1.11' # increase or decrease to change order of sections
options:
- end-with-rule: false # true
- level: 3 # 2, 3, 4, 5
published: true
---
{{#markdown}}
To provide additional semantic value to our documents, make use of HTML5 elements such as `<header>`, `<article>`, and `<section>` where appropriate.
{{/markdown}}
{{#code "html"}}
<header class="global-header">
	<main class="main-content">

	</main>
</header>
{{/code}}
