<!doctype html>
<!--[if lt IE 7]>      <html class="md-no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="md-no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="md-no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="md-no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="md-no-js" lang="en"> <!--<![endif]-->
<head>

	{{> _meta}}

	<title>{{title}}</title>

	<meta name="description" content="" />

	<base href="../" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	{{> _fonts}}

	{{> _css-main}}

	{{> _js-modernizr}}

</head>
<body>

	<div class="container">
		{{#parseFixture 'default-content.json'}}
			{{ body }}
		{{/parseFixture}}
	</div>

	{{> _js-main}}

</body>
</html>
