---
title: "Wrapper vs. Container"
section: true
weight: 218 # increase or decrease to change order of sections
options:
- end-with-rule: false # true
- level: 3 # 2, 3, 4, 5
published: true
---
{{#markdown}}
Consider using a wrapper inside module/partial blocks instead of using an outer container. The outermost tag of a module/partial can be devoid of padding or specific dimensions, allowing for various styles of formatting like centering elements.
{{/markdown}}
{{#code "html"}}
<header>
    <div class="wrapper">

    </div>
</header>
{{/code}}
{{#markdown}}
vs
{{/markdown}}
{{#code "html"}}
<div class="container">
    <header>

    </header>
</div>
{{/code}}
