$icon-search: '\e600';
$icon-home: '\f015';
$icon-prev: '\f053';
$icon-next: '\f054';
$icon-plus: '\f067';
$icon-minus: '\f068';
$icon-twitter: '\f099';
$icon-facebook: '\f09a';
$icon-google-plus: '\f0d5';
$icon-linkedin: '\f0e1';
$icon-youtube: '\f167';
$icon-pinterest: '\f231';
$icon-rss: '\f09e';
