@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?bsfl25');
	src:url('fonts/icomoon.eot?#iefixbsfl25') format('embedded-opentype'),
		url('fonts/icomoon.woff2?bsfl25') format('woff2'),
		url('fonts/icomoon.ttf?bsfl25') format('truetype'),
		url('fonts/icomoon.woff?bsfl25') format('woff'),
		url('fonts/icomoon.svg?bsfl25#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
.icon-home:before {
	content: "\f015";
}
.icon-prev:before {
	content: "\f053";
}
.icon-next:before {
	content: "\f054";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-pinterest:before {
	content: "\f231";
}
.icon-rss:before {
	content: "\f09e";
}
