---
title: "JavaScript (JS) Prefix"
section: true
weight: 325 # increase or decrease to change order of sections
options:
- end-with-rule: false # true
- level: 4 # 2, 3, 4, 5
published: true
---
{{#markdown}}
The usage of a js- prefix is present in the markup but should never really appear in the CSS file itself. If the styles are being set, then use modifiers or state type classes.
{{/markdown}}
{{#code "html"}}
<button class="component-button js-execute">...</button>
{{/code}}
{{#markdown}}
The js-execute rule should not appear in the CSS file, but only in JS files they are tied to behavior. These are events, verbs, or action related, and are access points for JavaScript not a toggle or state changer. It's best to think of these classes as closer to and ID attribute in the HTML.
{{/markdown}}
