---
title: "Global Header"
layout: module.hbs
module: true
---

<!-- module:global-header -->
{{#parseFixture 'global-header.json'}}
<header class="global-header" id="global-header">

	<a href="" class="show-on-focus" name="global-header">Header</a>

	Global Header

</header>
{{/parseFixture}}
<!-- end module:global-header -->
