---
title: "Global Footer"
layout: module.hbs
module: true
---

<!-- module:global-footer -->
{{#parseFixture 'global-footer.json'}}
<footer class="global-footer" id="global-footer">

	<a href="" class="show-on-focus" name="global-footer">Footer</a>

	Global Footer

</footer>
{{/parseFixture}}
<!-- end module:global-footer -->
