// Image replacement
//
// H5BP Method
.ir {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

// All other accessibility classes removed in favor of foundation classes.
//
// http://foundation.zurb.com/sites/docs/visibility.html
