// Placeholders are extendable blocks of styles
// that can be used via @extend, with the
// behavior that there won't be a large
// mass of classes created in your final CSS
// document.
//
// Use placeholders if you do not need a
// generic root class to inherit styles from, and
// just need a grouping of styles to share.

%list-reset {

	list-style: none;
	margin: 0;
	padding: 0;

}

%inline-list {

	@extend %list-reset;

	li {
		display: inline-block;
	}

}
