// Use this file to store common values like
// font size, z index, etc.

// Color palette is a mixin from IBM that
// lets you organize colors inside a SASS
// mapping. I find that it is an easier way
// to manage colors rather than a long
// list of variable names. I highly recommend
// using it. It's not difficult to use.
//
// There are examples of how to use it peppered
// into some of the default common styles.
@import 'color-palette/_color';

// Foundation overrides
@import 'overrides/_foundation';
